
  <!-- <div class="container-fluid"> -->
    <section id="photos">
    <% photos.each do |p| %>
    <!-- <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="thumbnail"> -->
          
                <%= link_to image_tag(FlickRaw.url_b(p), title: p.title), FlickRaw.url_short(p) %>
          
        <!-- </div>
      </div>    
    </div>
  </div> -->
    <% end %>
    </section>
    
  
